.Todo {
  border: 1px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Check {
  font-size: 5rem;
  display: inline-block;
  margin: 0%;
  transition-duration: 0.5s;
}

.Check:hover {
  cursor: pointer;
}
.TodoContent {
  display: inline-block;
}
.TodoContent p {
  margin: 0;
  max-width: 80%;
}
.TodoDetails {
  display: inline-block;
}
.TodoActions {
  display: inline-block;
  width: 15%;
}
.TodoActions button {
  width: 100%;
}
