.Form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 90%;
  border: 1px solid grey;
}

.FormControl input,
.FormControl textarea,
.FormControl label,
.DatePicker {
  display: block;
  width: 80%;
  font-size: 10px;
  padding: 0px 5px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-family: Arial;
}

.FormControl input:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.FormActions {
  align-items: center;
  text-align: center;
}

.Button {
  background-color: grey;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ErrorField {
  display: block;
  font-size: 10px;
  color: red;
}

.DatePicker {
  padding: 0.1rem 0.25rem;
  border: none;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
  font-size: 10px;
}
.Label {
  padding: 0px 5px;
  margin: 5px;
  font-size: 10px;
}
